html {
  font-family: 'Nunito';
}

body {
  background-color: #fff;
  color: white;
}

.boards {
  display: flex;

  margin-top: 32px;
}

.board {
  background: #e4e2e9;
  border: 0;
  border-radius: 4px;

  margin: 0 16px;
}

.board h3 {
  padding: 16px;
  margin: 0;
  color: #000000e0;
}

.dropzone {
  padding: 16px;
  min-width: 282px;
  min-height: 200px;
}

.card {
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 2px 2px -1px #0a0703cc;
  width: 250px;
  margin: 25px 0;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  color: #000000e0;
}

.status {
  width: 30px;
  height: 8px;
  background: gray;
  margin-bottom: 16px;
  border-radius: 8px;
}

.status.green {
  background: #23d2ac;
}

.status.blue {
  background: #33adff;
}

.status.red {
  background: red;
}

.highlight {
  background-color: #FD951F08;
}

.card, .dropzone {
  transition: 400ms;
}

.is-dragging {
  cursor: move;
  opacity: 0.3;
}

.over {
  background-color: #4cd13711;
}